<div class="box" id="airac-upload-block">
    <div class="box-header">
        {% if currentAiracCycle %}
            <h3 class="box-title">{{ 'admin.airac.current_label'|trans }}: <span class="text-black">{{ currentAiracCycle }}</span></h3>
        {% else %}
            <h3 class="alert-danger">{{ 'admin.airac.not_uploaded_yet'|trans }}</h3>
        {% endif %}
    </div>
    <div class="box-body">
        <form action="{{ path('upload_new_airac') }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="control-label required" for="upload-airac">{{ 'admin.airac.do_upload_label'|trans }}</label>
                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                    <input class="form-control" id="upload-airac" type="file" name="airac_file" accept="application/zip">
                </div>
            </div>
            <div class="sonata-ba-form-actions">
                <button type="submit" class="btn btn-success">{{ 'admin.airac.do_upload_button'|trans }}</button>
                <button type="reset" class="btn btn-default">{{ 'admin.airac.reset_button'|trans }}</button>
            </div>
            <div class="progress" style="display: none">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
            <div>{{ airac ? airac.status : '' }}</div>
        </form>
    </div>
</div>
